@font-face {
    font-family:'font888e0f3f1d925d57beaf9cc4a7b80dbc';
    src: url('http://nomail.com.ua/files/eot/888e0f3f1d925d57beaf9cc4a7b80dbc.eot?#iefix') format('embedded-opentype'),
    url('http://nomail.com.ua/files/woff/888e0f3f1d925d57beaf9cc4a7b80dbc.woff') format('woff'),
    url('http://nomail.com.ua/files/woff2/888e0f3f1d925d57beaf9cc4a7b80dbc.woff2') format('woff2');
}
@font-face {
    font-family:'SFUIText-Regular';
    src: local('SFUIText-Regular'),
    url('http://nomail.com.ua/files/woff/888e0f3f1d925d57beaf9cc4a7b80dbc.woff') format('woff');
}
#sfuitextregular {
    font-family:'SFUIText-Regular';
}
.font888e0f3f1d925d57beaf9cc4a7b80dbc {
    font-family: 'font888e0f3f1d925d57beaf9cc4a7b80dbc';
}